<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Last in: <%= lastin %></p>
    <p>Last out: <%= lastout %></p>
    <p>Last status: <%= status %></p>
  </body>
</html>
